{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
<link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    @import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap");

    h1 {
        font-family: "Urbanist";
        font-weight: 600;
        color: #ffffff;
    }

    h2 {
        font-family: "Urbanist";
        font-weight: 500;
        color: #ffffff;
    }

    label {
        font-family: "Urbanist";
        font-size: 1rem;
    }

    p {
        font-family: "Urbanist";
        font-weight: 400;
        font-size: 1.2rem;
        color: #ffffff;
    }

    ul.suggestions li {
        font-family: "Urbanist";
        font-weight: 400;
        font-size: 0.8rem;
        color: #55a4fe;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .form-container {
        height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        padding: 24px 48px;
    }

    .form-container .form {
        box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
        padding: 2rem;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
        height: fit-content;
        width: 16rem;

    }

    .form-container .form .submit-btn {
        background-color: #4d9ffe;
        padding: 0.2rem 0.8rem;
        border: 1px solid #4d9ffe;
        cursor: pointer;
        font-family: "Urbanist";
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }

    .form-container .form .submit-btn:hover {
        border: 1px dashed #4d9ffe;
    }

    .form-container .form .submit-btn:active {
        background-color: #4d9ffe;
        color: white;
    }

    .form-container .form .username-bar {
        border: 1px solid #4d9ffe;
        padding: 0.2rem 0.8rem;
    }

    .form-container .sidebar {
        box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.178) 0px 4px 6px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        height: 16rem;
        width: 16rem;
        background: #ff7214;
        background: linear-gradient(45deg, rgba(255, 114, 20, 0.98) 16%, #f7aa02 74%);
        background: -moz-linear-gradient(45deg, rgba(255, 114, 20, 0.98) 16%, #f7aa02 74%);
        background: -webkit-linear-gradient(45deg, rgba(255, 114, 20, 0.98) 16%, #f7aa02 74%);
    }

    .form-container .sidebar h2 {
        margin-top: auto;
    }

    @media screen and (max-width: 524px) {
        .form-container {
            flex-direction: column;
        }

        .form {
            margin-top: 2rem;
            height: 8rem;
            width: 8rem;
        }

        .sidebar {
            margin-bottom: 2rem;
            height: 8rem;
            width: 8rem;
        }
    }
</style>

{% endblock header %}

{% block content %}
<!-- <div class="center">
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}

        {{form.as_p }}
        <div class="submit">
            <button type="submit"> Change </button>
        </div>

        <div style="text-align:center; margin-bottom: 12px;">
            <a href="{% url 'mainapp:index' %}" style="text-decoration: none;">Home</a>
        </div>

    </form>
</div>
 -->
<div class="relaive">


    <section class="form-container">
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <label for="id_old_password">Old Password:</label>
            <input type="password" name="old_password" id="id_old_password" class="username-bar" required
                placeholder="Your old password">

            <label for="id_new_password1">New Password</label>
            <input type="password" name="new_password1" id="id_new_password1" class="username-bar" required
                placeholder="Enter your new password">

            <ul class="suggestions">
                <li>
                    Your password can’t be too similar to your other personal information.
                </li>
                <li>
                    Your password must contain at least 8 characters.
                </li>

                <li>
                    Your password can’t be a commonly used password.
                </li>

                <li>
                    Your password can’t be entirely numeric.
                </li>
            </ul>
            <label for="id_new_password2">Confirm New Password:</label>
            <input type="password" name="new_password2" id="id_new_password2" class="username-bar" required
                placeholder="Confirm Your New Password">
            <!-- <input type="submit" value="Submit" > -->
            <button type="submit" class="submit-btn"> Change </button>
        </form>
        <div class="sidebar">
            <h1>Hospital MS</h1>
            <p>Here you can change your password for security reasons.</p>
            <h2>Thank You for Trusting us &#9825;</h2>
        </div>
    </section>
</div>

{% endblock content %}